# Database connection
DB_HOST=
DB_PORT=3306

# Redis (uses internal services by default)
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379

# Custom image build
APPS_JSON_BASE64=

# Frontend
FRAPPE_SITE_NAME_HEADER=
PROXY_READ_TIMEOUT=
CLIENT_MAX_BODY_SIZE=
